<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <% @posts.each do |post| %>
      <div class="list">
        <h3 class="mt-4" align="center"><%= link_to post.title, post, class: "enlace" %></h3>
        <div class="lead">
          Por
          <%= link_to post.user.username, post, class: "enlace" %>
          <h6>Hace <%= time_ago_in_words(post.created_at)%></h6>
        </div>
        <hr>
        <p>
          <% if post.content.length > 250 %>
            <%= markdown(truncate(post.content, length: 250)) %>
            <%= link_to "más...", post, class: "enlace" %>
            <% else %>
            <%= markdown(truncate(post.content))%>
          <% end %>
        </p>

        <div>
          <% if user_signed_in? && current_user.id == post.user_id %>
            <hr>
            <%= link_to "Editar", edit_post_path(post), class: "enlace"  %>
            <%= link_to "Eliminar", post, method: :delete, data: { confirm: "¿Estás seguro de eliminar este Post?" }, class: "enlace" %>
          <% end %>
          <div class="post-comments float-right">
            <span class="glyphicon glyphicon-comment">Comentarios </span>
            <span class="comment-count"><%= post.comments.count %></span>
          </div>
          <hr>
          <br>
        </div>
      </div>

      <% end %>

    </div>
  </div>
</div>
