<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="post">
        <div>
          <h1 align="center"><%= @post.title %></h1>
          <p><%= markdown(@post.content) %></p>
        </div>
        <hr>
        <br>
        <div class="comments">
          <h2>Comentarios</h2>
          <hr>

          <%= render 'comments/list' %>

          <div class="panel panel-default" id="comments">

          </div>

          <% if user_signed_in? %>
            <%= form_for [@comment], :remote => true do |f| %>

              <div class="form-group">
                <%= f.text_area :content, class: "form-control", id:"comment-box", placeholder: "Agregar comentario" %>
                <%= hidden_field_tag "comment[post_id]", @post.id %>
                <%= hidden_field_tag "comment[user_id]", current_user.id %>
              </div>

              <div class="actions text-right">
                <%= f.submit "Comentar" %>
              </div>
            <% end %>
          <% end %>
          <p><%= link_to "Inicio", posts_path, class: "enlace" %></p>
          </div>
      </div>

    </div>
  </div>
</div>
